/*--------------------RESET CSS--------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------/RESET CSS--------------------*/
/*--------------------VARS--------------------*/
/*--------------------/VARS--------------------*/
/*--------------------FONTS--------------------*/
/*--------------------/FONTS--------------------*/
/*--------------------BODY,CONTAINER--------------------*/
body {
  font-family: "Inter";
  background: #3f3f3f;
}
body.lock {
  overflow: hidden;
  position: fixed;
}

.container {
  margin: 0 auto;
  max-width: 96vw;
  padding: 0 20px;
}

/*--------------------/BODY,CONTAINER--------------------*/
/*--------------------GLOBAL--------------------*/
.text {
  color: #3f3f3f;
  letter-spacing: 1px;
}

.title {
  font-weight: bold;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btn-hover {
  width: 110px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 45px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.btn {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

/*--------------------/GLOBAL--------------------*/
/*--------------------HEADER--------------------*/
.header {
  background-color: #fff;
  position: fixed;
  width: 100vw;
  border-bottom: 2px solid #3f3f3f;
  z-index: 20;
}
.header-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img {
  max-width: 30px;
  max-height: 30px;
  border-radius: 100%;
}
@media (max-width: 480px) {
  .logo {
    font-size: 16px;
  }
}

.menu-icon {
  display: none;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    position: relative;
    z-index: 5;
    cursor: pointer;
    height: 18px;
    width: 30px;
  }
  .menu-icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    background-color: #000;
    height: 3px;
    border-radius: 15%;
    transition: all 0.3s ease 0s;
  }
  .menu-icon span:first-child {
    top: 0;
  }
  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu-icon.active span {
    transform: scale(0);
  }
  .menu-icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
@media (max-width: 768px) {
  .menu-body {
    position: absolute;
    top: 0;
    left: -130%;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    transition: all 0.3s;
    overflow: auto;
  }
  .menu-body.active {
    left: -2.1%;
  }
}
.menu-list {
  list-style: none;
  display: flex;
  gap: clamp(1.25rem, 0.139rem + 2.31vw, 1.875rem);
  align-items: center;
}
@media (max-width: 768px) {
  .menu-list {
    flex-direction: column;
    gap: 0;
    padding: 30px;
    margin: auto;
  }
}
.menu-link {
  font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1rem);
  color: #484848;
}
.menu-link:hover {
  color: #000;
}
.menu-link.active {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  font-weight: bold;
  font-size: clamp(1.375rem, 0.153rem + 2.55vw, 2.063rem);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .menu-link {
    text-align: center;
    line-height: 70px;
    display: block;
    font-size: 33px !important;
  }
}

/*--------------------/HEADER--------------------*/
/*--------------------MAIN--------------------*/
.login {
  position: absolute;
  z-index: 100;
  overflow: auto;
  left: 0;
  right: 0;
  top: -50px;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 420px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  color: #000;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  box-shadow: 0px 5px 10px 9px rgba(34, 60, 80, 0.2);
  overflow: hidden;
}
.login.active {
  visibility: visible;
  opacity: 1;
  top: 0;
  pointer-events: all;
}
@media (max-width: 500px) {
  .login {
    width: 340px;
  }
}
@media (max-height: 480px) {
  .login {
    height: 100vh;
  }
}
@media (max-width: 340px) {
  .login {
    max-width: 310px;
  }
}
.login-exit {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  right: 20px;
}
.login-exit span {
  display: block;
  width: 30px;
  height: 3px;
  transform: rotate(45deg);
  background-color: #000;
  position: absolute;
}
.login-exit span:last-child {
  transform: rotate(-45deg);
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-title {
  font-weight: 600;
  font-size: 22px;
}
.login-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login-input input {
  border: 1px solid #b9b8b8;
  padding: 10px;
  border-radius: 5px;
}
.login-submit {
  margin: auto;
  width: 100%;
}
.login-ga {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login-btn {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 20px;
  transition: all 0.3s;
}
.login-btn img {
  width: 20px;
  height: auto;
}
.login-google {
  background-color: #fff;
  color: #000;
  border: 1px solid #b9b8b8;
}
.login-google:hover {
  background: #b9b8b8;
}
.login-apple {
  background-color: #000;
  color: #fff;
}
.login-apple:hover {
  background: #1d1d1d;
}
.login-apple img {
  width: 20px;
  height: auto;
}

.main {
  /* .main-container */
}
.main-container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
}

.map {
  width: 70%;
  margin-top: 80px;
  margin-bottom: 70px;
  z-index: 0;
  border: 10px solid #fff;
}
@media (max-width: 768px) {
  .map {
    margin-top: 70px;
    width: 100vw;
    min-height: 55vh;
    margin-bottom: 0;
  }
}

.sidebar {
  background-color: #fff;
  width: 100vw;
  flex: 1;
  overflow-y: auto;
  /* .sidebar-container */
  /* .sidebar-title */
  /* .sidebar-content */
  /* .sidebar-item */
}
.sidebar.lock {
  overflow: hidden;
}
@media (max-width: 768px) {
  .sidebar {
    border-top: 2px solid #3f3f3f;
    flex-direction: column;
  }
}
.sidebar-container {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .sidebar-container {
    padding-top: 0;
    padding-bottom: 80px;
  }
}
.sidebar-title {
  font-size: clamp(1.25rem, 1.071rem + 0.89vw, 1.5rem);
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #3f3f3f;
}
.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 5px 20px 5px;
  border-bottom: 1px solid #3f3f3f;
  width: 100%;
}
.sidebar-item-heading {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sidebar-item-icon img {
  max-width: 40px;
}
.sidebar-item-text {
  line-height: 20px;
}

.tab {
  width: 100%;
}
.tab.hidden {
  display: none;
}

.language-item {
  transition: all 0.3s ease-out;
  border-radius: 10px;
  background-color: #3f3f3f;
  color: #fff;
  border-bottom: none;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
.language-item:hover {
  font-size: 120%;
  font-weight: bold;
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  border-radius: 10px;
  color: #fff;
}

.info {
  /* .info-item */
  /* .info-list */
}
.info-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.info-list-element {
  display: flex;
  align-items: center;
  gap: 15px;
}
.info-list-element-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.info-list-element-circle#government {
  background-color: #0c1fcc;
}
.info-list-element-circle#criminals {
  background-color: #383838;
}
.info-list-element-circle#groups {
  background-color: #d6c23c;
}
.info-list-element-circle#nature {
  background-color: #29a11f;
}
.info-list-element img {
  max-width: 30px;
}
.info-list-element span {
  display: inline-block;
  width: 35px;
  height: 20px;
}
.info-list-element span#fire {
  background-color: rgba(232, 11, 11, 0.847);
  border: 2px solid rgba(120, 10, 10, 0.847);
}
.info-list-element span#flood {
  background-color: rgba(11, 33, 232, 0.847);
  border: 2px solid rgba(9, 24, 154, 0.847);
}
.info-list-element span#storm {
  background-color: rgba(129, 11, 232, 0.847);
  border: 2px solid rgba(90, 6, 163, 0.847);
}

.event {
  /* .event-form */
}
.event-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}
.event-form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.event-form-group input {
  background-color: #ffffff;
  border: 1px solid #3f3f3f;
  border-radius: 6px;
  padding: 18px;
  color: #3f3f3f;
  height: 25px;
  width: 100%;
}
.event-form-group input#description {
  height: 80px;
}
.event-location {
  width: 100%;
  height: 40px;
}
.event-submit {
  height: 50px;
  width: 100px;
}

.leatflet-control-zoom {
  margin: 0;
}

/*--------------------/MAIN--------------------*/
/*--------------------FOOTER--------------------*/
.footer {
  background-color: #fff;
  max-height: 200px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-top: 1px solid #3f3f3f;
  /* .footer-wrapper */
  /* .footer-list */
  /* .footer-icon */
  /* .footer-copyrigth */
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .footer-wrapper {
    max-height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-icon {
  width: clamp(1.5rem, 1.273rem + 1.14vw, 2.125rem);
  opacity: 80%;
}
.footer-icon:hover {
  opacity: 100%;
}
.footer-copyrigth {
  font-size: clamp(0.688rem, 0.619rem + 0.34vw, 0.875rem);
}

/*--------------------/FOOTER--------------------*//*# sourceMappingURL=style.css.map */