
/*--------------------RESET CSS--------------------*/

*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

/*--------------------/RESET CSS--------------------*/



/*--------------------VARS--------------------*/

$primary : #000;
$primaryLight:#fff;
$secondary:#3f3f3f;
$secondaryLight:#ffdd;

$break1200:1200px;
$break992:992px;
$break768:768px;
$break480:480px;

/*--------------------/VARS--------------------*/



/*--------------------FONTS--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/*--------------------/FONTS--------------------*/



/*--------------------BODY,CONTAINER--------------------*/

body{
	font-family: "Inter";
    background: #3f3f3f;
	&.lock{
		overflow: hidden;
		position: fixed;
	}
}
.container{
	margin: 0 auto;
	max-width: 96vw;
	padding: 0 20px;
}

/*--------------------/BODY,CONTAINER--------------------*/



/*--------------------GLOBAL--------------------*/

.text{
	color: $secondary;
	letter-spacing: 1px;
}

.title{
	font-weight: bold;
	letter-spacing: 1px;
	background-image: linear-gradient(
	  to right,
	  #eb3941,
	  #f15e64,
	  #e14e53,
	  #e2373f
	);
	  -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
}

.btn-hover {
	width: 110px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	height: 45px;
	text-align:center;
	border: none;
	background-size: 300% 100%;
	border-radius: 50px;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
  }
  
  .btn-hover:hover {
	background-position: 100% 0;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
  }
  
  .btn-hover:focus {
	outline: none;
  }
  
  .btn-hover.btn {
	background-image: linear-gradient(
	  to right,
	  #eb3941,
	  #f15e64,
	  #e14e53,
	  #e2373f
	);
	box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  }

/*--------------------/GLOBAL--------------------*/



/*--------------------HEADER--------------------*/

.header {

	background-color: $primaryLight;
	position: fixed;
	width: 100vw;
	border-bottom: 2px solid $secondary;
	z-index: 20;

	// .header-container

	&-container {
		display: flex;
		padding: 20px;
		justify-content: space-between;
		align-items: center;
		position: relative;	
	}

}

.logo {
    font-size: 20px;
	font-weight: bold;
	color: $primary;
    display: flex;
    align-items: center;
    gap: 10px;
    &-img
    {
        max-width: 30px;
        max-height: 30px;
        border-radius: 100%;
    }
	@media(max-width: $break480)
	{
		font-size: 16px;
	}
}
.menu {

	// .menu-icon

	&-icon {
		display: none;
		@media (max-width:$break768) {
			display: block;
			position: relative;
			z-index: 5;
			cursor: pointer;
			height: 18px;
			width: 30px;
			span{
				position: absolute;
				top: calc(50% - 1px);
				left: 0;
				width: 100%;
				background-color: $primary;
				height: 3px;
				border-radius: 15%;
				transition: all 0.3s ease 0s;
				&:first-child{
					top:0;
				}
				&:last-child{
					top: auto;
					bottom: 0;
				}
			}
			&.active {
				span {
					transform: scale(0);
					&:first-child {
						transform: rotate(-45deg);
						top: calc(50% - 1px);
					}
					&:last-child {
						transform: rotate(45deg);
						bottom: calc(50% - 1px);
					}
				}
			}
		}
	}

	// .menu-body

	&-body {
		@media(max-width:$break768){
			position: absolute;
			top: 0;
			left: -130%;
			height: 100vh;
			width: 100vw;
			background-color: $primaryLight;
			display: flex;
			transition: all 0.3s;
			overflow: auto;
			&.active{
				left: -2.1%;
			}
		}
	}

	// .menu-list

	&-list {
		list-style: none;
		display: flex;
		gap: clamp(1.25rem, 0.139rem + 2.31vw, 1.875rem);
		align-items: center;
		@media(max-width:768px){
			flex-direction: column;
			gap:0;
			padding: 30px;
			margin: auto;		}
	}


	// .menu-link

	&-link {
		font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1rem);
		color: #484848;
        &:hover
        {
            color: #000;
        }
		&.active
		{
			background-image: linear-gradient(
				to right,
				#eb3941,
				#f15e64,
				#e14e53,
				#e2373f
			  );
			font-weight: bold;
			font-size: clamp(1.375rem, 0.153rem + 2.55vw, 2.063rem);
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			transition: all 0.3s;
		}
		@media (max-width:$break768){
            text-align: center;
			line-height: 70px;
			display: block;
			font-size: 33px !important;
		}
	}
}

/*--------------------/HEADER--------------------*/



/*--------------------MAIN--------------------*/

.login {

	position: absolute;
	z-index: 100;
	overflow: auto;
	left: 0;
	right: 0;
	top: -50px;
	bottom: 0;
	margin: auto;
	width: 400px;
	height: 420px;
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;
	color: #000;
	visibility: hidden;
	opacity: 0;
	pointer-events:none;
	transition: all 0.3s;
	box-shadow: 0px 5px 10px 9px rgba(34, 60, 80, 0.2);
	overflow: hidden;
	&.active{
		visibility: visible;
		opacity: 1;
		top: 0;
		pointer-events: all;
	}
	@media (max-width:500px){
		width: 340px;
	}
	@media (max-height:480px){
		height: 100vh;
	}
	@media (max-width:340px)
	{
		max-width: 310px;
	}

	//.login-exit

	&-exit{
		position: absolute;
		width: 30px;
		height: 30px;
		top: 25px;
		right: 20px;
		span{
			display: block;
			width: 30px;
			height: 3px;
			transform: rotate(45deg);
			background-color: #000;
			position: absolute;
			&:last-child{
				transform: rotate(-45deg);
			}
		}
	}

	// .login-form

	&-form {
		display:flex;
		flex-direction:column;
		gap: 20px;
	}

	// .login-title

	&-title {
		font-weight: 600;
		font-size: 22px;
	}

	// .login-input

	&-input {
		display:flex;
		flex-direction:column;
		gap: 10px;
		input{
			border: 1px solid #b9b8b8;
			padding: 10px;
			border-radius: 5px;
		}
	}

	// .login-submit

	&-submit {
		margin: auto;
		width: 100%;
	}

	// .login-ga

	&-ga {
		display:flex;
		flex-direction:column;
		gap:8px;
	}

	//.login-btn

	&-btn{
		padding: 10px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap:5px;
		font-weight: 600;
		font-size: 16px;
		border-radius: 20px;
		transition: all 0.3s;
		img{
			width: 20px;
			height: auto;
		}
	}

	// .login-google

	&-google {
		background-color: #fff;
		color: #000;
		border:1px solid #b9b8b8;
		&:hover{
			background: #b9b8b8;
		}
	}

	// .login-apple

	&-apple {
		background-color: #000;
		color: #fff;
		&:hover{
			background: #1d1d1d;
		}
		img{
			width: 20px;
			height: auto;
		}
	}

	// .login-transfer

	// &-transfer {
	// }
}
// .transfer {

// 	// .transfer-link

// 	&-link {
// 	}
// }




.main {

	/* .main-container */
	&-container {
		display: flex;
		height: 100vh;
		justify-content: space-between;

		@media(max-width:$break768)
		{
			flex-direction: column;
		}
	}
}

.map {
	width: 70%;
	margin-top: 80px;
	margin-bottom: 70px;
	z-index: 0;
	border: 10px solid $primaryLight;
	@media(max-width:$break768)
	{
		margin-top: 70px;
		width: 100vw;
		min-height: 55vh;
		margin-bottom: 0;
	}
}

.sidebar {

	background-color: $primaryLight;
	width: 100vw;
	flex: 1;
	overflow-y: auto;

	&.lock
	{
		overflow: hidden;
	}

	@media(max-width:$break768)
	{
		border-top: 2px solid $secondary;
		flex-direction: column;
	}
	/* .sidebar-container */

	&-container {
		padding-top: 100px;
		padding-bottom: 100px;
		padding-left: 10px;
		padding-right: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media(max-width:$break768)
		{
			padding-top: 0;
			padding-bottom: 80px;
		}
	}

	/* .sidebar-title */

	&-title {
		font-size: clamp(1.25rem, 1.071rem + 0.89vw, 1.5rem);
		width: 100%;
		text-align: center;
		padding-bottom: 20px;
		border-bottom: 1px solid $secondary;
	}

	/* .sidebar-content */

	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/* .sidebar-item */

	&-item {

		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 20px 5px 20px 5px;
		border-bottom: 1px solid $secondary;
		width: 100%;

		&-heading
		{
			display: flex;
			align-items: center;
			gap: 20px;
		}

		&-icon
		{
			img
			{
				max-width: 40px;
			}
		}

		&-text
		{
			line-height: 20px;
		}
	}
}

.tab
{
	width: 100%;
	&.hidden
	{
		display: none;
	}
}

.language-item
{
	transition: all 0.3s ease-out;
	border-radius: 10px;
	background-color: $secondary;
	color: $primaryLight;
	border-bottom: none;
	margin-top: 20px;
	text-align: center;
	font-weight: bold;

	&:hover
	{
		font-size: 120%;
		font-weight: bold;
		background-image: linear-gradient(
			to right,
			#eb3941,
			#f15e64,
			#e14e53,
			#e2373f
		  );
		  border-radius: 10px;
		  color: $primaryLight;
	}
}


.info {

	/* .info-item */

	&-item {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	// /* .info-title */

	// &-title {
	// }

	// /* .info-content */

	// &-content {
	// }

	/* .info-list */

	&-list {
		display: flex;
		flex-direction: column;
		gap: 15px;

		&-element
		{
			display: flex;
			align-items: center;
			gap: 15px;
			&-circle
			{
				border-radius: 50%;
				width: 30px;
				height: 30px;
				&#government
				{
					background-color: #0c1fcc;
				}
				&#criminals
				{
					background-color: #383838;
				}
				&#groups
				{
					background-color: #d6c23c;
				}
				&#nature
				{
					background-color: #29a11f;
				}
			}
			img
			{
				max-width: 30px;
			}
			span
			{
				display: inline-block;
				width: 35px;
				height: 20px;
				&#fire
				{
					background-color: rgba(232, 11, 11, 0.847);
					border: 2px solid rgba(120, 10, 10, 0.847);
				}
				&#flood
				{
					background-color: rgba(11, 33, 232, 0.847);
					border: 2px solid rgba(9, 24, 154, 0.847);
				}
				&#storm
				{
					background-color: rgba(129, 11, 232, 0.847);
					border: 2px solid rgba(90, 6, 163, 0.847);
				}
			}
		}
	}
}


.event {

	/* .event-form */

	&-form {

		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		padding-top: 30px;

		&-group
		{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;

			input
			{
				background-color: #ffffff;
				border: 1px solid $secondary;
				border-radius: 6px;
				padding: 18px;
				color: $secondary;
				height: 25px;
				width: 100%;
				&#description
				{
					height: 80px;
				}
			}
		}
	}

	&-location
	{
		width: 100%;
		height: 40px;
	}

	&-submit
	{
		height: 50px;
		width: 100px;
	}
}

.leatflet-control-zoom
{
	margin: 0;
}


/*--------------------/MAIN--------------------*/



/*--------------------FOOTER--------------------*/

.footer {

	background-color: $primaryLight;
	max-height: 200px;
	position: fixed;
	bottom: 0;
	width: 100vw;
	border-top: 1px solid $secondary;

	/* .footer-wrapper */

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 20px;
		padding-bottom: 20px;

		@media(max-width:$break768)
		{
			max-height: 70px;
			padding-top: 10px;
			padding-bottom: 10px;
			gap: 15px;
		}

		@media (max-width:$break480)
		{
			flex-direction: column;
			gap: 10px;
			align-items: center;
		}
	}

	/* .footer-list */

	&-list {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	/* .footer-icon */

	&-icon {
		width: clamp(1.5rem, 1.273rem + 1.14vw, 2.125rem);
		opacity: 80%;
		&:hover
		{
			opacity: 100%;
		}
	}

	/* .footer-copyrigth */

	&-copyrigth {
		font-size:clamp(0.688rem, 0.619rem + 0.34vw, 0.875rem);
	}
}

/*--------------------/FOOTER--------------------*/